.modal {
  width: 700px;
  height: 400px;
  background-color: rgb(194, 190, 190);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.postForm {
  display: flex;
  flex-direction: column;
}

input {
  width: 50%;
}
button {
  width: 20rem;
}
table {
  width: 50%;
}
